In [3]:
print ("HELLO WORLD!")

HELLO WORLD!

In [5]:
print ("Olayinka")
print ("Welcome to class")

Olayinka
Welcome to class

In [10]:
print (2 + 2)
print (6 - 5)
4 + 16

4
1

20

In [11]:
print (20 * 3)

60

In [17]:
print (20 / 5)

4.0

In [24]:
#floor division

20 / 3

6.666666666666667

In [26]:
# // gives us number of times a number can divide a number
20 // 3

6

In [27]:
# (%) gives us only the remaider
20 % 3

2

In [36]:
# raised to power

print (2 ** 3)
print (3 ** 5)
print (5 ** 6)

8
243
15625

In [38]:
# square root
print (16 ** 0.5)
print (16 ** (1/2))

4.0
4.0

In [55]:
# BODMAS
# SQUARE ROOT OF 25 RAISED TO POWER 2

(16 + 9) ** (1/2)

5.0

In [54]:
36 ** (0.5)

6.0

In [ ]:
# VARIABLES : it is a container that carry data types
 # INTEGER 1,2,3,4,5
 # FLOAT 4.5 (DECIMAL)
 # STRING (ALPHABETS AND 'TEXT's)
 #BOOL (TRUE OR FALSE)
 #LIST ( MANDO, ORANGE, BANANA...)
 #DICT { KEY:VALUE, NAME: OLAYINKA}
 #SET (MANDO, ORANGE, BANANA..)
 #TUPLE

In [ ]:
# Dont start with a number, dont start with a special character, no space

In [101]:
firstname = 'Olayinka'
surname = "Idowu"
age = 25
account_balance = 200.16
tax_rate = 5/100
tax_amount = account_balance * tax_rate
married = True

In [103]:
print (name)

print (surname)

print (age)

print (account_balance)

print (tax_amount)

print (married)

Olayinka
Idowu
25
200.16
10.008000000000001
True

In [97]:
account_balance * tax_rate

10.008000000000001

In [89]:
firstname+ ' ' + surname

'Olayinka Idowu'

In [109]:
# you cannot space the output
firstname * 5

'OlayinkaOlayinkaOlayinkaOlayinkaOlayinka'

In [113]:
'- -' * 10

'- -- -- -- -- -- -- -- -- -- -'

In [130]:
firstname = input ('Please enter your firstname? ')

surname = input ('Please enter your surname?')

age = int (input ('How old are you? '))

account_balance = input ('How much is your account balance ')

tax_rate = input ("Your country tax? ")

married = input ("Are you married? ")

Please enter your firstname? OLAYINKA
Please enter your surname?IDOWU
How old are you? 45
How much is your account balance 50,000
Your country tax? 0.5
Are you married? YES

In [122]:
print (firstname, surname, age)

OLAYINKA IDOWU 44 YEARS OLD

In [128]:
print ("FIRST NAME:", firstname, '\n'
       'LAST NAME:', surname, '\n'
       "YOUR AGE:" , age)

FIRST NAME: OLAYINKA
LAST NAME: IDOWU
YOUR AGE: 45

In [ ]:
# FUNCTION:  Its a block oc code designed to do a particular task. A function makes 
#you do calculations without duplicating the code.
#It contains a Head And a Body and an output but its optional

In [135]:
firstname = input ('Please enter your firstname? ')

surname = input ('Please enter your surname?')

age = int (input ('How old are you? '))

salary = float (input ('How much is your salary '))

tax_rate = float (input ("Your country tax? "))

tax_amount = salary * tax_rate

print (tax_amount)

Please enter your firstname? OLAYINKA
Please enter your surname?IDOWU
How old are you? 45
How much is your salary 5000
Your country tax? 0.1
500.0

In [143]:
def salary_tax_calculator():                        #HEAD

    firstname = input ('Please enter your firstname? ')           #BODY

    surname = input ('Please enter your surname?')

    age = int (input ('How old are you? '))

    salary = float (input ('How much is your salary '))

    tax_rate = float (input ("Your country tax? "))

    tax_amount = salary * tax_rate

    gross_salary = salary

    net_salary = salary - tax_amount

    print (tax_amount)

    print (f' My gross salary is {gross_salary}, and my take home salary is {net_salary} ')  #OPTIONAL OUTPUT

In [144]:
salary_tax_calculator()

Please enter your firstname? OLUSHOLA
Please enter your surname?IDOWU
How old are you? 47
How much is your salary 60000
Your country tax? 0.05
3000.0
 My gross salary is 60000.0, and my take home salary is 57000.0

In [145]:
salary_tax_calculator()

Please enter your firstname? TIMILEHIN
Please enter your surname?IDOWU
How old are you? 13
How much is your salary 4000
Your country tax? 0.1
400.0
 My gross salary is 4000.0, and my take home salary is 3600.0

In [150]:
def salary_tax_calculator(firstname = "Esther", salary = 10000, tax_rate = 0.05):   #HEAD
    
    firstname = firstname                     #BODY
    salary = salary
    tax_rate = tax_rate
    
    tax_amount = salary * tax_rate
    net_salary = salary - tax_amount
    
    return firstname, salary, net_salary              #OUTPUT

In [151]:
salary_tax_calculator()

('Esther', 10000, 9500.0)

In [155]:
len ("ESTHER")

6